<section class="bg-background-brown">
    <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 text-center">
            <div data-aos="fade-up">
                <%= image_tag "MissionVector.svg", class:"w-10 h-10 mx-auto my-5" %>

                <h1 class="mt-4 text-xl font-semibold text-white my-5">Missão</h1>

                <p class="mt-2 text-white">Oferecer conforto e diversão aos pets, garantindo qualidade nos serviços.</p>
            </div>

            <div data-aos="fade-up">
                <%= image_tag "VisionVector.svg", class:"w-10 h-10 mx-auto my-5" %>

                <h1 class="mt-4 text-xl font-semibold text-white my-5">Visão</h1>

                <p class="mt-2 text-white">Amor e respeito aos animais, segurança, profissionalismo e companheirismo.</p>
            </div>

            <div data-aos="fade-up">
                <%= image_tag "ValueVector.svg", class:"w-10 h-10 mx-auto my-5" %>

                <h1 class="mt-4 text-xl font-semibold text-white my-5">Valores</h1>

                <p class="mt-2 text-white">Ser referência em hotel para pets, proporcionando experiências positivas e duradouras para nossos clientes (pets e seus tutores).</p>
            </div>
        </div>
    </div>
</section>