<footer class="bg-white mt-10">
    <div class="container p-6 mx-auto">
        <div class="lg:flex justify-center">
            <div class="w-full lg:w-2/5 text-center">
                <div class="px-6 py-6 mb-[50pt] md:py-0 md:mb-0">
                    <a href="/" class="w-auto h-7 inline-block">
                        <%= image_tag "Logo.png", class: "h-10 w-auto" %>
                    </a>

                    <p class="max-w-sm mt-5 mx-auto">Siga nas redes sociais</p>

                    <div class="flex justify-center mt-6 -mx-2">
                        <a href="https://www.instagram.com/" target="_blank" class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" aria-label="Instagram">
                            <%= image_tag "InstagramIcon.svg", class: "w-6 h-6 md:w-10 md:h-10 fill-current" %>
                        </a>

                        <a href="https://www.facebook.com/" target="_blank" class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" aria-label="Facebook">
                            <%= image_tag "FacebookIcon.svg", class: "w-6 h-6 md:w-10 md:h-10 fill-current" %>
                        </a>

                        <a href="https://www.tiktok.com/" target="_blank" class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" aria-label="TikTok">
                            <%= image_tag "TiktokIcon.svg", class: "w-6 h-6 md:w-10 md:h-10 fill-current" %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0">
                <div class="grid grid-cols-2 gap-6 justify-center mx-auto md:w-96">
                    <div>
                        <h3 class="font-medium">Menu</h3>
                        <a href="/" class="block mt-2 font-normal">Início</a>
                        <a href="#" class="block mt-2 font-normal">Quem somos</a>
                        <a href="#" class="block mt-2 font-normal">Serviços</a>
                        <a href="#" class="block mt-2 font-normal">Contato</a>
                    </div>

                    <div>
                        <h3 class="font-medium">Endereços</h3>
                        <p class="block mt-2 font-normal">Rua Holanda, n° 125, Horizonte - AM</p>
                        <p href="#" class="block mt-2 font-normal">Av. Flores, n° 86, São Bernardo - AM</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-10">
            <p class="text-center">
                © Designed by <a href="https://www.linkedin.com/in/yamille-santos" target="_blank">Yamille Santos</a> 
                and developed by <a href="https://linkedin.com/in/yvescesar" target="_blank">Yves César</a>
            </p>
        </div>
    </div>
</footer>