<section class="bg-background-white" data-aos="fade-up">
    <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col items-center relative lg:border-r-2 lg:border-default-brown lg:pr-8">
                <%= image_tag "EmployeeVector.png", class:"w-76 h-76" %>
                <h1 class="mt-4 text-xl text-default-brown text-center">Equipe<br> especializada</h1>
            </div>

            <div class="flex flex-col items-center relative lg:border-r-2 lg:border-default-brown lg:pr-8">
                <%= image_tag "CameraVector.png", class:"w-76 h-76" %>
                <h1 class="mt-4 text-xl text-default-brown text-center">Segurança<br> 24 horas</h1>
            </div>

            <div class="flex flex-col items-center relative lg:border-r-2 lg:border-default-brown lg:pr-8">
                <%= image_tag "PetPawVector.png", class:"w-76 h-76" %>
                <h1 class="mt-4 text-xl text-default-brown text-center">Brinquedos<br> inspecionados</h1>
            </div>

            <div class="flex flex-col items-center relative">
                <%= image_tag "PetActivityVector.png", class:"w-76 h-76" %>
                <h1 class="mt-4 text-xl text-default-brown text-center">Ambiente<br> acolhedor</h1>
            </div>
        </div>
    </div>
</section>