<section class="bg-background-brown">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md sm:text-center">
      <h2 class="mb-4 text-xl md:text-3xl tracking-tight font-medium text-white text-center">
        Cadastre-se em nossa newsletter
      </h2>
      <form action="#">
        <div class="items-center mx-auto mb-3 mt-8 max-w-screen-sm flex space-y-0 space-x-4">
          <div class="relative w-full">
            <label for="email" class="hidden mb-2 text-sm font-medium text-black">E-mail</label>
            <input class="block p-3 pl-5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 placeholder-black" placeholder="E-mail" type="email" id="email" required="">
          </div>
          <div class="w-auto">
            <button type="submit" class="flex items-center justify-center py-3 px-5 lg:w-full w-auto text-sm font-medium text-center text-gray-900 rounded-lg border cursor-pointer bg-white border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-primary-300">
              <%= image_tag "SubmitButtonVector.png", class:"w-5 h-5 max-w-max" %>
            </button>
          </div>
        </div>
      </form>
      <p class="mx-auto mt-10 max-w-2xl font-light text-white text-center">
        Receba conteúdos exclusivos e novidades sobre a Morada dos Pets em primeira mão
      </p>
    </div>
  </div>
</section>
