.bannerContent.home {
    background-size: cover;
    background-image: linear-gradient(
        180deg, rgba(41, 16, 0, 0.5) 0%, rgba(41, 16, 0, 0.5) 25%, rgba(41, 16, 0, 0.5) 50%, rgba(219, 185, 71, 0.5) 75%, rgba(217, 217, 217, 0) 100%),
        url('HomepageBanner.jpg');
    background-position: 50% 50%;
}

.bannerContent.aboutUs {
    background-size: cover;
    background-image: linear-gradient(
        180deg, rgba(91, 91, 91, 0.76707) 0.54%, rgba(86, 86, 86, 0.8) 3.85%, rgba(10, 9, 9, 0.536094) 40.82%, rgba(113, 110, 110, 0.573496) 75.06%, rgba(217, 217, 217, 0) 100%),
        url('AboutUsBanner.jpg');
    background-position: 50% 50%;
}

.bannerContent.services {
    background-size: cover;
    background-image: linear-gradient(
        180deg, rgba(86, 86, 86, 0.8) 3.85%, rgba(91, 91, 91, 0.76707) 3.86%, rgba(10, 9, 9, 0.536094) 40.82%, rgba(113, 110, 110, 0.573496) 75.06%, rgba(217, 217, 217, 0) 100%),
        url('ServicesPageBanner.jpg');
    background-position: 50% 50%;
}

.bannerContent.dogSpaService {
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(86, 86, 86, 0.8) 1.79%, rgba(91, 91, 91, 0.76707) 3.86%, rgba(10, 9, 9, 0.536094) 40.82%, rgba(113, 110, 110, 0.573496) 75.06%, rgba(217, 217, 217, 0) 100%),
        url('DogSpaServicePageBanner.jpg');
    background-position: 50% 50%;
}