#testimonialsCarousel
{
    background: linear-gradient(180deg, #291000 1.12%, rgba(41, 16, 0, 0.91) 92.62%);
    background-blend-mode: multiply;
}

.testimonials {
    width: 100%;
    height: 25rem;
    --swiper-navigation-color: white;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.42);
    --swiper-pagination-color: white;
}

.users {
    --swiper-navigation-color: white;
    .swiper-slide {
        height: 18rem;
    }
    .swiper-slide:hover {
        height: 20rem;
    }
}