<%= render(BannerComponent.new(
    image_reference: "dogSpaService",
    title: "Dog Spa",
    description: "Um ambiente tranquilo e aconchegante"
)) %>

<section>
    <div class="container mx-auto md:mr-0 px-5 md:pl-5 md:pr-0 py-24">
    <div class="lg:pr-24 md:pr-16 text-left mb-16 md:mb-0 w-full">
        <h1 class="title-font text-xl md:text-3xl mb-4 font-medium text-default-brown w-full">Seu cão precisa de um dia no spa?</h1>
        <br>
        <p class="mb-8 leading-relaxed">
            A Morada dos Pets possui um luxuoso Dog Spa, onde seu fiel companheiro pode desfrutar de momentos de puro relaxamento e mimos especiais.
        </p>
        <p class="mb-8 leading-relaxed">
        Oferecemos serviços como:
        </p>
    </div>
  </div>
</section>